.categories {
  display: flex;
  // margin: 0px 15px;
  width: 100%;
  // margin: 0px 0px 115px 0px;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  .categoty_card {
    width: 250px;
    height: 250px;
    margin: 14px;
    border-radius: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
