.header{
    position: fixed;
    left: 241px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: calc(100% - 321px );
    margin: 0px 0px 0px auto;
    align-items: center;
}
.header-row{
    display: flex;
    align-items: center;
}