* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  border: none;
  outline: none;
}
.struct {
  display: flex;
  width: calc(100% - 241px);
  justify-content: end;
}
.section {
  display: flex;
  justify-content: end;
}
.main {
  width: 100%;
  /* background-color: #0c1512; */
  /* padding: 0px 37px; */
}

a {
  text-decoration: none !important;
}
