.gradient {
  width: calc(100% - 241px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 35, 172, 1) 0%,
    rgba(12, 21, 26, 1) 100%
  );
  padding: 50px 0px 0px 37px;
  position: relative;
  z-index: -2;
  color: white;
  margin: 0px 0px 0px 241px;
  .section-1 {
    display: flex;
    flex-wrap: wrap;
  }
}
button {
  background-color: aliceblue;
  width: 10px;
  height: 10px;
}
